* {
  margin: 0;
  padding: 0;
}
#div-header {
  background-color: rgb(255, 37, 37);
  display: flex;
  height: 74px;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

@media screen and (max-width: 600px) {
  #div-header {
    float: none;
    width: 100%;
    font-size: 1rem;
    height: 3rem;
  }
}

#ul-header {
  display: inline-flex;
  color: brown;
}

#li.header {
  padding-left: 1px;
}

#menuButton-header {
  background-color: aqua;
  display: inline;
}

#loginButton-header {
  display: inline;
  background-color: blue;
}

.row {
  display: grid;
  justify-content: center;
  align-items: center;
}

.card {
  width: 50rem;
  display: block;
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  transition: all 0.3s ease-out;
  text-align: center;
  justify-items: center;
}

.card p {
  color: #a3a5ae;
  font-size: 16px;
}

.image {
  margin: auto;
  display: block;
  width: 100%;
}

footer {
  width: 100%;
  min-height: 250px;
  background: rgb(255, 37, 37);
  display: flex;
}

footer .boxs {
  width: 320px;
  min-height: 150px;
  padding: 20px;
}

footer .boxs:nth-child(4) {
  width: 400px;
}

.boxs h2 {
  color: #fff;
  margin-bottom: 20px;
}

.boxs ul li {
  margin: 10px 0px;
  list-style: none; 
}

.boxs ul li a {
  color: #ddd;
  text-decoration: none;
}

.boxs ul li a:hover {
  color: #000;
}

.footer {
  height: 55px;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
  background: rgb(207, 18, 18);
}

.footer h2 {
  font-weight: lighter;
}

.footer .sociais {
  display: flex;
}

.sociais .social {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #ddd;
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
  transition: .2s linear;
}

.sociais .social a {
  color: #000;
  font-size: 1.5em;
  transition: color .2s linear;
}

.sociais .social:hover {
  background: #444;
}

.sociais .social:hover a {
  color: #fff;
}

@media(max-width: 600px) {
  footer {
    flex-direction: column;
  }

  footer .boxs {
    width: 100%;
    text-align: center;
  }

  footer .boxs:nth-child(4) {
    width: 100%;
  }