* {
  margin: 0;
  padding: 0;
}
#div-header {
  background-color: rgb(255, 37, 37);
  display: flex;
  height: 74px;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

@media screen and (max-width: 600px) {
  #div-header {
    float: none;
    width: 100%;
    font-size: 1rem;
    height: 3rem;
  }
}

#ul-header {
  display: inline-flex;
  color: brown;
}

#li.header {
  padding-left: 1px;
}

#menuButton-header {
  background-color: aqua;
  display: inline;
}

#loginButton-header {
  display: inline;
  background-color: blue;
}

.row {
  display: grid;
  justify-content: center;
  align-items: center;
}

.card {
  width: 50rem;
  display: block;
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  transition: all 0.3s ease-out;
  text-align: center;
  justify-items: center;
}

.card p {
  color: #a3a5ae;
  font-size: 16px;
}

.image {
  margin: auto;
  display: block;
  width: 100%;
}
